h1 {
    font-family: 'helvetica';
    font-size: 18pt;
}

p,div {
    font-family: 'helvetica';
    font-size: 11pt;
}

input {
    width: 40px;
}
input[type='color'] {
    width: 40px;
    height: 20px;
}

table {
    border-spacing: 0px;
}
td {
    border: 1px ridge;
    width: 10px;
    height: 10px;
    margin: 0px;
    padding: 0px;
}

td.field {
    border: none;
    width: 150px;
}